{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dodawanie dokumentu</h1>

    <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
    <br><br>

    <div class="content-wrapper">
        <div class="container-fluid">
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <br><br>

            <input class="btn btn-outline-success" type="submit" value="Dodaj" />
            <a href="{{ path('document_index') }}" class="btn btn-outline-dark">Anuluj</a>


        </div>
    </div>
    {{ form_end(form) }}


{% endblock %}
