{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dodawanie faktury zakupu</h1>

    <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
    <br><br>

    {{ form_start(form) }}
        {{ form_widget(form) }}

<br>
            <input class="btn btn-outline-success" type="submit" value="Dodaj" />
            <a href="{{ path('saleinvoice_index') }}" class="btn btn-outline-dark">Anuluj</a>

    {{ form_end(form) }}

{% endblock %}
