{% extends 'base.html.twig' %}

{% block body %}
    <h1>M&M</h1>
    <p>Wszystkie dokumenty w jednym miejscu</p>

    <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Sprawdź</a>
{% endblock %}
